.hello-world-block {
  padding: 20px;
  background: #def;
  text-align: center;
  border-radius: 8px;
  font-family: sans-serif;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
